
.type-message{
    display: grid;
    justify-content: center;
    column-gap: 2em;
    grid-template-columns: 70% 20%;
    margin-top: 2em;
    @media(max-width: 768px){
        grid-template-columns: 4fr 1fr;
        align-items: center;
        justify-content: center;
    }
.send-btn{
    background: #00ccff !important;
    color: #fff !important;
}

}